.gesamt {
    width: 840px;
    height: 366px;
}

.left {
    width: 100px;
    height: 366px;
    float: left;
}

.mid {
    width: 640px;
    height: 366px;
    float: left;
}

.right {
    width: 100px;
    height: 366px;
    float: right;
}

#bilderrahmen {

}

#pfeil-left {
    margin-left: 25px;
    margin-top: 150px;
}

#pfeil-right {
    margin-left: 25px;
    margin-top: 150px;
}
