body {
    background: black;
}

#slider {
    margin-left: 20%;
    margin-top: 5%;
}

#ladebalken {
    background: orange;
    width: 0;
    height: 5px;
    position: absolute;
    border-radius: 20px;
}